# Next.js build output
.next/
out/

# Dependencies
node_modules/

# Environment files
.env*.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Sentry Config File
.env.sentry-build-plugin
.env

# PostHog local event cache
.posthog-events.json
